In [69]:
import pandas as pd

In [110]:
data = pd.read_csv('../../Resources/2050_harsh_final.csv')
data.drop(['Unnamed: 0'], axis = 1, inplace = True)
data.rename(columns = {'Prediction': "prediction"}, inplace = True)
data.head()

            x        y  prediction
0 -124.779167  49.3375         0.0
1 -124.770833  49.3375         0.0
2 -124.762500  49.3375         0.0
3 -124.754167  49.3375         0.0
4 -124.745833  49.3375         0.0

In [111]:
data.shape

(14735625, 3)

In [112]:
reduced_data =data.loc[(data['x'] <= -110) & (data['y'] <= 47) & (data['y'] >= 32)]
reduced_data.reset_index(inplace = True)
reduced_data.drop(['index'], axis = 1, inplace = True)


reduced_data.head()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

            x          y  prediction
0 -124.162500  46.995833        0.00
1 -124.154167  46.995833        0.00
2 -124.145833  46.995833        0.01
3 -124.137500  46.995833        0.01
4 -124.012500  46.995833        0.00

In [115]:
reduced_data.shape

(2684290, 3)

In [116]:
def get_even_coords(col):
    temp_col = [int(coordinate*1000000) for coordinate in col]
    
    temp_col = [coordinate for coordinate in temp_col if coordinate % 7 == 0 ]
    
    temp_col = [round(float(coordinate*10e-7),6) for coordinate in temp_col]
    
    return temp_col

In [121]:
mod_x = get_even_coords(reduced_data['x'])

# mod_y = get_even_coords(mod_x['y'])

mod_data = reduced_data[reduced_data['x'].isin(mod_x)]
mod_y = get_even_coords(mod_data['y'])

final_mod_data = mod_data[mod_data['y'].isin(mod_y)]
# mod_data.head()
# mod_data['Prediction'].value_counts()
# final_mod_data.head()
final_mod_data.shape

(5998, 3)

In [96]:
mod_data.to_csv('2050_randomforest_reduced_final.csv')