In [19]:
import pandas as pd

In [37]:
data = pd.read_csv('../../Resources/2050_harsh_final.csv')
data.drop(['Unnamed: 0'], axis = 1, inplace = True)
data.head()

            x        y  Prediction
0 -124.779167  49.3375         0.0
1 -124.770833  49.3375         0.0
2 -124.762500  49.3375         0.0
3 -124.754167  49.3375         0.0
4 -124.745833  49.3375         0.0

In [38]:
len(data.index)

14735625

In [44]:
reduced_data =data.loc[(data['x'] <= -110) & (data['y'] <= 47) & (data['y'] >= 32)]
reduced_data.reset_index(inplace = True)
reduced_data.drop(['index'], axis = 1, inplace = True)
reduced_data.head()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

            x          y  Prediction
0 -124.162500  46.995833        0.00
1 -124.154167  46.995833        0.00
2 -124.145833  46.995833        0.01
3 -124.137500  46.995833        0.01
4 -124.012500  46.995833        0.00

In [45]:
len(reduced_data.index)

2684290