In [12]:
from sklearn import tree
import pandas as pd
import os

In [13]:
data = pd.read_csv('../data/2050_rcp85_bc_frame.csv')

In [16]:
# data.drop(['Unnamed: 0'], axis = 1, inplace = True)
data.dropna(axis = 0, how = 'any', inplace = True)
data.rename(columns={'bc85bi501': 'Annual Mean Temperature', 
                     'bc85bi5010': 'Mean Diurnal Range (Mean of monthly (max temp - min temp))',
                     'bc85bi5011': 'Isothermality',
                     'bc85bi5012': 'Temperature Seasonality',
                     'bc85bi5013': 'Max Temperature of Warmest Month',
                     'bc85bi5014': 'Min Temperature of Coldest Month',
                     'bc85bi5015': 'Temperature Annual Range',
                     'bc85bi5016': 'Mean Temperature of Wettest Quarter',
                     'bc85bi5017': 'Mean Temperature of Driest Quarter',
                     'bc85bi5018': 'Mean Temperature of Warmest Quarter',
                     'bc85bi5019': 'Mean Temperature of Coldest Quarter',
                     'bc85bi502': 'Annual Precipitation',
                     'bc85bi503': 'Precipitation of Wettest Month',
                     'bc85bi504': 'Precipitation of Driest Month',
                     'bc85bi505': 'Precipitation Seasonality (Coefficient of Variation)',
                     'bc85bi506': 'Precipitation of Wettest Quarter',
                     'bc85bi507': 'Precipitation of Driest Quarter',
                     'bc85bi508': 'Precipitation of Warmest Quarter',
                     'bc85bi509': 'Precipitation of Coldest Quarter',
                    }, inplace=True)

# data.columns
data.drop(['Unnamed: 0', 
           'Max Temperature of Warmest Month', 
           'Min Temperature of Coldest Month', 
           'Precipitation of Wettest Month', 
           'Precipitation of Driest Month', 
           'Precipitation Seasonality (Coefficient of Variation)', 
           'Mean Diurnal Range (Mean of monthly (max temp - min temp))', 
           'Temperature Annual Range', 'Annual Mean Temperature', 
           'Isothermality', 
           'Temperature Seasonality', 
           'Annual Precipitation'], axis=1, inplace=True)
data.head()

,x,y,Mean Temperature of Wettest Quarter,Mean Temperature of Driest Quarter,Mean Temperature of Warmest Quarter,Mean Temperature of Coldest Quarter,Precipitation of Wettest Quarter,Precipitation of Driest Quarter,Precipitation of Warmest Quarter,Precipitation of Coldest Quarter
0,-124.779167,49.3375,916,122,145,839,12,247,56,181
1,-124.770833,49.3375,923,125,148,690,10,243,54,176
2,-124.762500,49.3375,924,128,150,691,8,243,53,175
3,-124.754167,49.3375,902,119,141,825,14,248,58,184
4,-124.745833,49.3375,887,109,132,812,20,254,63,192

In [4]:
data.dtypes
data['Mean Temperature of Wettest Quarter'] = data['Mean Temperature of Wettest Quarter'].astype(float)
data['Mean Temperature of Driest Quarter'] = data['Mean Temperature of Driest Quarter'].astype(float)
data['Mean Temperature of Warmest Quarter'] = data['Mean Temperature of Warmest Quarter'].astype(float)
data['Mean Temperature of Coldest Quarter'] = data['Mean Temperature of Coldest Quarter'].astype(float)
data['Precipitation of Wettest Quarter'] = data['Precipitation of Wettest Quarter'].astype(float)
data['Precipitation of Driest Quarter'] = data['Precipitation of Driest Quarter'].astype(float)
data['Precipitation of Warmest Quarter'] = data['Precipitation of Warmest Quarter'].astype(float)
data['Precipitation of Coldest Quarter'] = data['Precipitation of Coldest Quarter'].astype(float)

data.dtypes

x                                      float64
y                                      float64
Mean Temperature of Wettest Quarter    float64
Mean Temperature of Driest Quarter     float64
Mean Temperature of Warmest Quarter    float64
Mean Temperature of Coldest Quarter    float64
Precipitation of Wettest Quarter       float64
Precipitation of Driest Quarter        float64
Precipitation of Warmest Quarter       float64
Precipitation of Coldest Quarter       float64
dtype: object

In [5]:
new_data = data.drop(['x','y'], axis=1)
new_data.head()

,Mean Temperature of Wettest Quarter,Mean Temperature of Driest Quarter,Mean Temperature of Warmest Quarter,Mean Temperature of Coldest Quarter,Precipitation of Wettest Quarter,Precipitation of Driest Quarter,Precipitation of Warmest Quarter,Precipitation of Coldest Quarter
0,893.0,122.0,133.0,793.0,14.0,235.0,52.0,168.0
1,899.0,125.0,136.0,798.0,12.0,231.0,50.0,164.0
2,901.0,127.0,137.0,801.0,10.0,231.0,48.0,162.0
3,879.0,118.0,130.0,779.0,16.0,236.0,54.0,171.0
4,863.0,108.0,122.0,765.0,20.0,244.0,58.0,180.0

In [6]:

from sklearn.preprocessing import LabelEncoder, StandardScaler

scaler = StandardScaler().fit(new_data)

new_data_scaled = scaler.transform(new_data)

In [7]:
from keras.models import load_model

# model.save('CNNSequential.h5')

model = load_model('CNNSequential.h5')

Using TensorFlow backend.

WARNING:tensorflow:From /Users/sandeep/anaconda3/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /Users/sandeep/anaconda3/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:From /Users/sandeep/anaconda3/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

In [8]:
prediction = model.predict(new_data_scaled)

print(f'Prediction: {prediction[:10]}')

Prediction: [[0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]]

In [9]:
count=0
for p in prediction:
    if p[0]>0:
        count +=1
print(f'Prediction count > 0: {count}')
print(len(prediction))
print(len(new_data))

Prediction count > 0: 9677112
14735625
14735625

In [10]:
data['prediction'] = prediction.flatten()
data.head()

,x,y,Mean Temperature of Wettest Quarter,Mean Temperature of Driest Quarter,Mean Temperature of Warmest Quarter,Mean Temperature of Coldest Quarter,Precipitation of Wettest Quarter,Precipitation of Driest Quarter,Precipitation of Warmest Quarter,Precipitation of Coldest Quarter,prediction
0,-124.779167,49.3375,893.0,122.0,133.0,793.0,14.0,235.0,52.0,168.0,0.0
1,-124.770833,49.3375,899.0,125.0,136.0,798.0,12.0,231.0,50.0,164.0,0.0
2,-124.762500,49.3375,901.0,127.0,137.0,801.0,10.0,231.0,48.0,162.0,0.0
3,-124.754167,49.3375,879.0,118.0,130.0,779.0,16.0,236.0,54.0,171.0,0.0
4,-124.745833,49.3375,863.0,108.0,122.0,765.0,20.0,244.0,58.0,180.0,0.0

# Write Data to Mongo

In [23]:
import pymongo
import time
import pandas as pd
import numpy as np

In [24]:
conn = 'mongodb://root:ucbmongodb@35.184.4.63:27017'
client = pymongo.MongoClient(conn)
db = client.weather

In [ ]:
#replace the collection name
db.rcp45_2050.insert_many(data.to_dict('records'))

In [11]:
data.to_csv('moderate_2050.csv')