In [1]:
from sklearn import tree
import pandas as pd
import os

In [3]:
df = pd.read_csv(os.path.join("C:/Users/Satinder Bains/Desktop/2050_bio_frame.csv"))
df.head()

,Unnamed: 0,ac45bi501,ac45bi5010,ac45bi5011,ac45bi5012,ac45bi5013,ac45bi5014,ac45bi5015,ac45bi5016,ac45bi5017,...,bc45bi5019,bc45bi502,bc45bi503,bc45bi504,bc45bi505,bc45bi506,bc45bi507,bc45bi508,bc45bi509,raster_frame
0,1,120,197,53,2075,357,11,71,1018,77,...,1046,106,39,5418,285,19,266,62,189,0
1,2,119,196,52,2088,361,11,71,1029,77,...,1057,106,39,5387,284,18,266,61,187,0
2,3,121,198,53,2055,355,11,71,1012,76,...,1040,107,40,5422,286,19,267,62,189,0
3,4,121,198,53,2038,352,11,71,1003,75,...,1031,106,39,5445,286,19,267,62,190,0
4,5,117,194,49,2082,362,11,72,1033,75,...,1062,107,40,5454,283,17,266,58,187,0

In [4]:
target = df["raster_frame"]
target_names = ["negative", "positive"]

In [11]:
data = df[["bc45bi501",
               "bc45bi502",
               "bc45bi503",
               "bc45bi504",
               "bc45bi505",
               "bc45bi506",
               "bc45bi507",
               "bc45bi508",
               "bc45bi509",
               "bc45bi5010",
               "bc45bi5011",
               "bc45bi5012",
               "bc45bi5013",
               "bc45bi5014",
               "bc45bi5015",
               "bc45bi5016",
               "bc45bi5017",
               "bc45bi5018",
               "bc45bi5019"]]
feature_names = data.columns
data.head()

,bc45bi501,bc45bi502,bc45bi503,bc45bi504,bc45bi505,bc45bi506,bc45bi507,bc45bi508,bc45bi509,bc45bi5010,bc45bi5011,bc45bi5012,bc45bi5013,bc45bi5014,bc45bi5015,bc45bi5016,bc45bi5017,bc45bi5018,bc45bi5019
0,117,106,39,5418,285,19,266,62,189,193,55,2300,426,19,67,1122,109,126,1046
1,116,106,39,5387,284,18,266,61,187,191,54,2314,431,19,68,1134,108,126,1057
2,118,107,40,5422,286,19,267,62,189,193,55,2279,424,19,68,1115,106,124,1040
3,118,106,39,5445,286,19,267,62,190,194,55,2259,420,19,67,1104,105,123,1031
4,114,107,40,5454,283,17,266,58,187,190,52,2306,432,19,68,1138,104,123,1062

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [13]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.9311447143554688

In [14]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
prediction = rf.predict_proba(X_test)
print(prediction)

[[0.62038095 0.37961905]
 [0.995      0.005     ]
 [1.         0.        ]
 ...
 [1.         0.        ]
 [1.         0.        ]
 [1.         0.        ]]

In [15]:
rf.score(X_test, y_test)

0.9469528198242188

In [16]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.11691429689200421, 'bc45bi504'),
 (0.07397281504066684, 'bc45bi5012'),
 (0.06658171306914676, 'bc45bi507'),
 (0.06248891748303689, 'bc45bi5019'),
 (0.06237002301844648, 'bc45bi502'),
 (0.05827340492137679, 'bc45bi5016'),
 (0.053653230424214, 'bc45bi508'),
 (0.05353374750005964, 'bc45bi506'),
 (0.051985998992746835, 'bc45bi5018'),
 (0.051251661488503866, 'bc45bi509'),
 (0.04958858137022028, 'bc45bi5011'),
 (0.04363837372828445, 'bc45bi5015'),
 (0.043150116843108606, 'bc45bi5017'),
 (0.04180911256301011, 'bc45bi5013'),
 (0.04081219179282872, 'bc45bi505'),
 (0.03616748800128579, 'bc45bi5014'),
 (0.03587577947121639, 'bc45bi5010'),
 (0.03362655226223821, 'bc45bi501'),
 (0.024305995137605167, 'bc45bi503')]