In [20]:
from sklearn import tree
import pandas as pd
import os

In [21]:
data = pd.read_csv('../../Resources/bio_vars_frame.csv')

In [22]:
data.drop(['Unnamed: 0'], axis = 1, inplace = True)

data.dropna(axis = 0, how = 'any', inplace = True)

data.rename(columns={'bio_1': 'Annual Mean Temperature', 
                     'bio_2': 'Mean Diurnal Range (Mean of monthly (max temp - min temp))',
                     'bio_3': 'Isothermality',
                     'bio_4': 'Temperature Seasonality',
                     'bio_5': 'Max Temperature of Warmest Month',
                     'bio_6': 'Min Temperature of Coldest Month',
                     'bio_7': 'Temperature Annual Range',
                     'bio_8': 'Mean Temperature of Wettest Quarter',
                     'bio_9': 'Mean Temperature of Driest Quarter',
                     'bio_10': 'Mean Temperature of Warmest Quarter',
                     'bio_11': 'Mean Temperature of Coldest Quarter',
                     'bio_12': 'Annual Precipitation',
                     'bio_13': 'Precipitation of Wettest Month',
                     'bio_14': 'Precipitation of Driest Month',
                     'bio_15': 'Precipitation Seasonality (Coefficient of Variation)',
                     'bio_16': 'Precipitation of Wettest Quarter',
                     'bio_17': 'Precipitation of Driest Quarter',
                     'bio_18': 'Precipitation of Warmest Quarter',
                     'bio_19': 'Precipitation of Coldest Quarter',
                    }, inplace=True)

reduced_df = data.drop(['Min Temperature of Coldest Month', 'Precipitation of Wettest Quarter', 
           'Precipitation Seasonality (Coefficient of Variation)', 'Mean Temperature of Coldest Quarter',
           'Precipitation of Warmest Quarter', 'Max Temperature of Warmest Month',
           'Precipitation of Wettest Month', 'Annual Mean Temperature',
           'Precipitation of Driest Quarter', 'Mean Temperature of Warmest Quarter',
           'Precipitation of Driest Month', 'Isothermality'], axis = 1)

data.head()

,Annual Mean Temperature,Mean Diurnal Range (Mean of monthly (max temp - min temp)),Isothermality,Temperature Seasonality,Max Temperature of Warmest Month,Min Temperature of Coldest Month,Temperature Annual Range,Mean Temperature of Wettest Quarter,Mean Temperature of Driest Quarter,Mean Temperature of Warmest Quarter,Mean Temperature of Coldest Quarter,Annual Precipitation,Precipitation of Wettest Month,Precipitation of Driest Month,Precipitation Seasonality (Coefficient of Variation),Precipitation of Wettest Quarter,Precipitation of Driest Quarter,Precipitation of Warmest Quarter,Precipitation of Coldest Quarter,raster_frame
0,96.0,105.0,40.0,5390.0,250.0,-7.0,257.0,35.0,165.0,167.0,30.0,2184.0,350.0,25.0,61.0,1008.0,144.0,147.0,951.0,0
1,94.0,105.0,40.0,5385.0,249.0,-9.0,258.0,34.0,163.0,165.0,28.0,2196.0,354.0,24.0,62.0,1019.0,142.0,146.0,961.0,0
2,96.0,105.0,40.0,5407.0,251.0,-7.0,258.0,35.0,165.0,167.0,30.0,2162.0,348.0,24.0,62.0,1002.0,140.0,144.0,945.0,0
3,97.0,105.0,40.0,5437.0,251.0,-7.0,258.0,35.0,166.0,168.0,30.0,2144.0,345.0,24.0,62.0,993.0,139.0,143.0,937.0,0
4,93.0,105.0,40.0,5438.0,248.0,-11.0,259.0,32.0,163.0,164.0,27.0,2188.0,357.0,24.0,63.0,1023.0,138.0,143.0,966.0,0

In [25]:
target = reduced_df['raster_frame']
target_names = ["negative", "positive"]

In [26]:
new_data = reduced_df.drop("raster_frame", axis=1)
feature_names = new_data.columns
new_data.head()

,Mean Diurnal Range (Mean of monthly (max temp - min temp)),Temperature Seasonality,Temperature Annual Range,Mean Temperature of Wettest Quarter,Mean Temperature of Driest Quarter,Annual Precipitation,Precipitation of Coldest Quarter
0,105.0,5390.0,257.0,35.0,165.0,2184.0,951.0
1,105.0,5385.0,258.0,34.0,163.0,2196.0,961.0
2,105.0,5407.0,258.0,35.0,165.0,2162.0,945.0
3,105.0,5437.0,258.0,35.0,166.0,2144.0,937.0
4,105.0,5438.0,259.0,32.0,163.0,2188.0,966.0

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(new_data, target, random_state=42)

In [15]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.9452131220709663

In [16]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
prediction = rf.predict_proba(X_test)
print(prediction)

[[1.  0. ]
 [0.1 0.9]
 [1.  0. ]
 ...
 [1.  0. ]
 [1.  0. ]
 [1.  0. ]]

In [17]:
rf.score(X_test, y_test)

0.9580949351161168

In [18]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.20202513880043763, 'Temperature Seasonality'),
 (0.16462003856738294, 'Annual Precipitation'),
 (0.1378977171768435, 'Precipitation of Coldest Quarter'),
 (0.13706594423622348, 'Mean Temperature of Wettest Quarter'),
 (0.1338251593866465, 'Mean Temperature of Driest Quarter'),
 (0.11991008344022519, 'Temperature Annual Range'),
 (0.10465591839224095,
  'Mean Diurnal Range (Mean of monthly (max temp - min temp))')]

In [28]:
# data['Prediction'] = prediction
len(prediction)
# data.count
# data.head()

421214

In [27]:
svm

NameError: name 'svm' is not defined